

*{ box-sizing: border-box; }

body, html {
  height: 100%;
   background: #990303;
   font-family: sans-serif;
   text-align: center;
   margin: 5%;

}

h1 {
  font-size: 3em;
  color: white;
    border-bottom-style: solid;
    border-color: black;
}
h2 {
  
    border-bottom-style: solid;
    border-color: black;
}


h3 {
  font-size: 2em;

} 


.flex-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  flex: 1 100%;
  border-bottom-style: solid;
 
}

.flex-child {
  width: 25%;
  padding: 1%;
  text-align: center;
}







